@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.navbar ul {
	z-index: 99999;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline-block;
	padding: 20px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-decoration: none;
}

.navbar a {
	transition: .3s background-color;
	color: #2F4F4F;
}

.navbar a:hover {
	color: #EFA0A0;
}

.navbar li ul {
	display: none;
	position: absolute;
	padding: 0px;
}

.navbar li:hover ul {
	display: block;
	background-color: #36363F;
}

.navbar li:hover ul li {
	display: block;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
	font-size: 12px;
	text-align: left;
}

.navbar li ul li a {
	display: block;
	color: #FFF;
}